.mtz-avatar {
  background: #3b3b3b;
  color: white;
}
.profile {
  border-bottom: 1px solid white;
  margin-top: 10px;
}
.plate div:first-child {
  border-right: 1px solid white;
}
p {
  font-size: 12px;
  margin: 0;
}
.name {
  font-size: 20px;
}
.title {
  font-size: 14px;
}
.value {
  font-size: 20px;
}
